
  
  .block .heart-icon {
    user-select: none;
    position: absolute;
    left: 20px;
    top: 20px;
    width: 40px;
    height: 40px;
    fill: transparent;
    transition: transform 0.25s ease-out;
    transform-origin: 50% 50%;
  }
  
  .block .heart-icon .fill-color-shape {
    fill: transparent;
  }
  
  .block .heart-icon.isLiked {
    filter: drop-shadow(0 3px 5px #c44133);
  }
  
  .block .heart-icon.isLiked .fill-color-shape {
    transition: fill 0.5s linear;
    fill: #e74c3c;
  }
  
  .block .heart-icon:hover {
    transform: scale(1.03);
  }
  
  .block .number-of-likes {
    font-size: 24px;
    user-select: none;
    position: absolute;
    left: 80px;
    top: 20px;
    color: #292d34;
  }
  

  